








<!DOCTYPE html>
<!--[if lte IE 9]><html class="ie ie9 lte9" lang="en"><![endif]-->
<!--[if !IE]><!--><html lang="en"><!--<![endif]-->
<head dir="ltr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="origin-trial" content="ArNBN7d1AkvMhJTGWXlJ8td/AN4lOokzOnqKRNkTnLqaqx0HpfYvmx8JePPs/emKh6O5fckx14LeZIGJ1AQYjgAAAABzeyJvcmlnaW4iOiJodHRwOi8vbG9jYWxob3N0OjE4MDAwIiwiZmVhdHVyZSI6IkRpc2FibGVEaWZmZXJlbnRPcmlnaW5TdWJmcmFtZURpYWxvZ1N1cHByZXNzaW9uIiwiZXhwaXJ5IjoxNjM5NTI2Mzk5fQ==">




  <title>

 DIGLIT Courseware | Открытое образование
</title>


  

  <script type="text/javascript" src="https://cdn2.openedu.ru/static/js/i18n/en/djangojs.705ead69114e.js"></script>
  <script type="text/javascript" src="https://cdn2.openedu.ru/static/js/ie11_find_array.bd1c6dc7a133.js"></script>
  
  <link rel="icon" type="image/x-icon" href="https://cdn2.openedu.ru/static/edx-theme/images/favicon.bd3d272022e9.ico"/>



  
  

    <link href="https://cdn2.openedu.ru/static/edx-theme/css/lms-style-vendor.68e48093f5dd.css" rel="stylesheet" type="text/css" />



    
  

    <link href="https://cdn2.openedu.ru/static/edx-theme/css/lms-main-v1.1196926a8475.css" rel="stylesheet" type="text/css" />




    
    
<script type="text/javascript" src="https://cdn2.openedu.ru/static/js/lms-main_vendor.3c3c9a2604d6.js" charset="utf-8"></script>


    
    
<script type="text/javascript" src="https://cdn2.openedu.ru/static/js/lms-application.5ba2aca48790.js" charset="utf-8"></script>



  
    
    
    <script type="text/javascript" src="https://cdn2.openedu.ru/static/bundles/commons.e8d179ce07e077c34d02.c2509f591d43.js" ></script>



  <script>
    window.baseUrl = "https://cdn2.openedu.ru/static/";
    (function (require) {
      require.config({
          baseUrl: window.baseUrl
      });
    }).call(this, require || RequireJS.require);
  </script>
  <script type="text/javascript" src="https://cdn2.openedu.ru/static/lms/js/require-config.38226099c6ad.js"></script>
  
    <script type="text/javascript">
        (function (require) {
          require.config({
              paths: {
                'course_bookmarks/js/views/bookmark_button': 'course_bookmarks/js/views/bookmark_button.d4cfaf3361fa',
'js/views/message_banner': 'js/views/message_banner.141974fd4f5d',
'moment': 'common/js/vendor/moment-with-locales.e3cc27d412a1',
'moment-timezone': 'common/js/vendor/moment-timezone-with-data.60142e6c4416',
'js/courseware/course_info_events': 'js/courseware/course_info_events.2fc35b57627f',
'js/courseware/accordion_events': 'js/courseware/accordion_events.6064c7809de5',
'js/dateutil_factory': 'js/dateutil_factory.a28baef97506',
'js/courseware/link_clicked_events': 'js/courseware/link_clicked_events',
'js/courseware/toggle_element_visibility': 'js/courseware/toggle_element_visibility.474ff5ba9de3',
'js/student_account/logistration_factory': 'js/student_account/logistration_factory.5e55252d0ace',
'js/courseware/courseware_factory': 'js/courseware/courseware_factory.1504fc10caef',
'js/groups/views/cohorts_dashboard_factory': 'js/groups/views/cohorts_dashboard_factory.ca68388d81d6',
'js/groups/discussions_management/discussions_dashboard_factory': 'js/discussions_management/views/discussions_dashboard_factory.2e10d9097343',
'draggabilly': 'js/vendor/draggabilly.26caba6f7187',
'hls': 'common/js/vendor/hls.5e0c7e1b3bfd'
            }
          });
        }).call(this, require || RequireJS.require);
    </script>
  

  

  

    <link href="https://cdn2.openedu.ru/static/edx-theme/css/lms-style-course-vendor.cc467ea1c47d.css" rel="stylesheet" type="text/css" />




  

    <link href="https://cdn2.openedu.ru/static/edx-theme/css/lms-course.538c4610e8a6.css" rel="stylesheet" type="text/css" />




<script type="text/javascript" src="https://cdn2.openedu.ru/static/js/jquery.autocomplete.964a0bfb4fd2.js" async></script>
<script type="text/javascript" src="https://cdn2.openedu.ru/static/js/src/tooltip_manager.b8fa94d4cefc.js" async></script>

<link href="https://cdn2.openedu.ru/static/css/vendor/jquery.autocomplete.css" rel="preload" type="text/css">
  

  <base target="_parent">

<script type="text/javascript">
  var $$course_id = "course\u002Dv1:spbstu+DIGLIT+spring_2023";
</script>


  

  


  


<script type="application/json" id="user-metadata">
    null
</script>

  

  


  


<!-- dummy Segment -->
<script type="text/javascript">
  var analytics = {
    track: function() { return; },
    trackLink: function() { return; },
    pageview: function() { return; },
    page: function() { return; }
  };
</script>
<!-- end dummy Segment -->


  <meta name="path_prefix" content="">
  

  <meta name="openedx-release-line" content="maple" />





</head>

<body class="ltr view-in-course view-courseware courseware  lang_en">



<div id="page-prompt"></div>
    
    <a class="nav-skip sr-only sr-only-focusable" href="#main">Skip to main content</a>


    










    <div class="marketing-hero"></div>

    <div class="content-wrapper main-container" id="content" dir="ltr">
      








<script type="text/template" id="image-modal-tpl">
    <div class="wrapper-modal wrapper-modal-image">
  <section class="image-link">
    <%= smallHTML%> <% // xss-lint: disable=underscore-not-escaped %>
    <a href="#" class="modal-ui-icon action-fullscreen" role="button">
      <span class="label">
        <span class="icon fa fa-arrows-alt fa-large" aria-hidden="true"></span> <%- gettext("Fullscreen") %>
      </span>
    </a>
  </section>

  <section class="image-modal">
    <section class="image-content">
      <div class="image-wrapper">
        <img alt="<%- largeALT %>, <%- gettext('Large') %>" src="<%- largeSRC %>" />
      </div>

      <a href="#" class="modal-ui-icon action-close" role="button">
        <span class="label">
          <span class="icon fa fa-remove fa-large" aria-hidden="true"></span> <%- gettext("Close") %>
        </span>
      </a>

      <ul class="image-controls">
        <li class="image-control">
          <a href="#" class="modal-ui-icon action-zoom-in" role="button">
            <span class="label">
              <span class="icon fa fa fa-search-plus fa-large" aria-hidden="true"></span> <%- gettext("Zoom In") %>
            </span>
          </a>
        </li>

        <li class="image-control">
          <a href="#" class="modal-ui-icon action-zoom-out is-disabled" aria-disabled="true" role="button">
            <span class="label">
              <span class="icon fa fa fa-search-minus fa-large" aria-hidden="true"></span> <%- gettext("Zoom Out") %>
            </span>
          </a>
        </li>
      </ul>
    </section>
  </section>
</div>

</script>







<div class="course-wrapper chromeless">
  <section class="course-content" id="course-content"      data-enable-completion-on-view-service="false"     style="display: block; width: auto; margin: 0;"
  >
      <main id="main" aria-label="Content">
        
<div class="xblock xblock-student_view xblock-student_view-vertical" data-course-id="course-v1:spbstu+DIGLIT+spring_2023" data-init="VerticalStudentView" data-runtime-class="LmsRuntime" data-runtime-version="1" data-block-type="vertical" data-usage-id="block-v1:spbstu+DIGLIT+spring_2023+type@vertical+block@cbadc8eaec0b4128b3667224b2b56209" data-request-token="69e058ea637e11eea48c6ee8bd98008a" data-graded="True" data-has-score="False">
  





    <h4 class="hd-8 de-emphasized">This content is graded
        as <td>'Практическое задание'</td><br>
        weight:&nbsp;1.0
    </h4>


<div class="vert-mod">
    <div class="vert vert-0" data-id="block-v1:spbstu+DIGLIT+spring_2023+type@html+block@87d4575054f14eeba172e322adcd4f41">
        
<div class="xblock xblock-student_view xblock-student_view-html xmodule_display xmodule_HtmlBlock" data-course-id="course-v1:spbstu+DIGLIT+spring_2023" data-init="XBlockToXModuleShim" data-runtime-class="LmsRuntime" data-runtime-version="1" data-block-type="html" data-usage-id="block-v1:spbstu+DIGLIT+spring_2023+type@html+block@87d4575054f14eeba172e322adcd4f41" data-request-token="69e058ea637e11eea48c6ee8bd98008a" data-graded="True" data-has-score="False">
  <script type="json/xblock-args" class="xblock-json-init-args">
    {"xmodule-type": "HTMLModule"}
  </script>
  <ul class="fa-ul" style="text-rendering: optimizelegibility; margin-top: 0px; margin-bottom: 1rem; margin-left: 2.14286em; padding-left: 0px; border: 0px; outline: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 15px; line-height: 1.4em; font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Arial, sans-serif; vertical-align: baseline; list-style-type: none; color: rgb(58, 58, 58); box-sizing: border-box;">
<li style="text-rendering: optimizelegibility; margin-top: 0px; margin-right: 0px; margin-left: 0px; padding: 0px; border: 0px; outline: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 1.4em; font-family: inherit; vertical-align: baseline; position: relative; box-sizing: border-box;"><span class="fa fa-list-ol" aria-hidden="true" style="text-rendering: auto; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: inherit; line-height: 1; font-family: FontAwesome; vertical-align: baseline; display: inline-block; -webkit-font-smoothing: antialiased; box-sizing: border-box;"></span>&nbsp;Количество вопросов в тесте &ndash; 3</li>
<li style="text-rendering: optimizelegibility; margin-top: 0px; margin-right: 0px; margin-left: 0px; padding: 0px; border: 0px; outline: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 1.4em; font-family: inherit; vertical-align: baseline; position: relative; box-sizing: border-box;"><span class="fa fa-clock-o" aria-hidden="true" style="text-rendering: auto; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: inherit; line-height: 1; font-family: FontAwesome; vertical-align: baseline; display: inline-block; -webkit-font-smoothing: antialiased; box-sizing: border-box; color: rgb(241, 90, 34);"></span>&nbsp;Ограничение времени на ответы &ndash; нет</li>
<li style="text-rendering: optimizelegibility; margin-top: 0px; margin-right: 0px; margin-left: 0px; padding: 0px; border: 0px; outline: 0px; font-style: inherit; font-variant: inherit; font-weight: inherit; font-stretch: inherit; font-size: inherit; line-height: 1.4em; font-family: inherit; vertical-align: baseline; position: relative; box-sizing: border-box;"><span class="fa fa-check-square-o" aria-hidden="true" style="text-rendering: auto; margin: 0px; padding: 0px; border: 0px; outline: 0px; font-variant-numeric: normal; font-variant-east-asian: normal; font-stretch: normal; font-size: inherit; line-height: 1; font-family: FontAwesome; vertical-align: baseline; display: inline-block; -webkit-font-smoothing: antialiased; box-sizing: border-box;"></span>&nbsp;Количество попыток тестирования &ndash; 2</li>
</ul>
<p class="MsoNormal" style="text-rendering: optimizelegibility; margin-right: 0px; margin-left: 0px; padding: 0px; border: 0px; outline: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 16px; font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; vertical-align: baseline; color: rgb(49, 49, 49); text-align: justify;"></p>
<p align="justify" style="text-rendering: optimizelegibility; margin: 0px 0px 1rem; padding: 0px; border: 0px; outline: 0px; font-variant-numeric: inherit; font-variant-east-asian: inherit; font-stretch: inherit; font-size: 15px; font-family: &quot;Open Sans&quot;, &quot;Helvetica Neue&quot;, Arial, sans-serif; vertical-align: baseline; color: rgb(58, 58, 58); box-sizing: border-box;">Максимальная оценка за тест &ndash;&nbsp;6 баллов. Тест считается зачтенным, если верно 60%.</p>
</div>

    </div>
    <div class="vert vert-1" data-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@9e48935b04244c89b702677fbb0ed210">
        
<div class="xblock xblock-student_view xblock-student_view-problem xmodule_display xmodule_ProblemBlock" data-course-id="course-v1:spbstu+DIGLIT+spring_2023" data-init="XBlockToXModuleShim" data-runtime-class="LmsRuntime" data-runtime-version="1" data-block-type="problem" data-usage-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@9e48935b04244c89b702677fbb0ed210" data-request-token="69e058ea637e11eea48c6ee8bd98008a" data-graded="True" data-has-score="True">
  <script type="json/xblock-args" class="xblock-json-init-args">
    {"xmodule-type": "Problem"}
  </script>
  <div id="problem_9e48935b04244c89b702677fbb0ed210" class="problems-wrapper" role="group"
     aria-labelledby="9e48935b04244c89b702677fbb0ed210-problem-title"
     data-problem-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@9e48935b04244c89b702677fbb0ed210" data-url="/courses/course-v1:spbstu+DIGLIT+spring_2023/xblock/block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@9e48935b04244c89b702677fbb0ed210/handler/xmodule_handler"
     data-problem-score="2.0"
     data-problem-total-possible="2.0"
     data-attempts-used="1"
     data-content="



&lt;h3 class=&#34;hd hd-3 problem-header&#34; id=&#34;9e48935b04244c89b702677fbb0ed210-problem-title&#34; aria-describedby=&#34;block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@9e48935b04244c89b702677fbb0ed210-problem-progress&#34; tabindex=&#34;-1&#34;&gt;
  Выберите криптографические алгоритмы, входящие в состав российских стандартов:
&lt;/h3&gt;

&lt;div class=&#34;problem-progress&#34; id=&#34;block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@9e48935b04244c89b702677fbb0ed210-problem-progress&#34;&gt;&lt;/div&gt;

&lt;div class=&#34;problem&#34;&gt;
  &lt;div&gt;
&lt;div class=&#34;wrapper-problem-response&#34; tabindex=&#34;-1&#34; aria-label=&#34;Question 1&#34; role=&#34;group&#34;&gt;&lt;div class=&#34;choicegroup capa_inputtype&#34; id=&#34;inputtype_9e48935b04244c89b702677fbb0ed210_2_1&#34;&gt;
    &lt;fieldset aria-describedby=&#34;status_9e48935b04244c89b702677fbb0ed210_2_1&#34;&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;checkbox&#34; name=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1[]&#34; id=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_0&#34; class=&#34;field-input input-checkbox&#34; value=&#34;choice_0&#34;/&gt;&lt;label id=&#34;9e48935b04244c89b702677fbb0ed210_2_1-choice_0-label&#34; for=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_0&#34; class=&#34;response-label field-label label-inline&#34; aria-describedby=&#34;status_9e48935b04244c89b702677fbb0ed210_2_1&#34;&gt; AES
            &lt;/label&gt;
          &lt;/div&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;checkbox&#34; name=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1[]&#34; id=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_1&#34; class=&#34;field-input input-checkbox submitted&#34; value=&#34;choice_1&#34; checked=&#34;true&#34;/&gt;&lt;label id=&#34;9e48935b04244c89b702677fbb0ed210_2_1-choice_1-label&#34; for=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_1&#34; class=&#34;response-label field-label label-inline choicegroup_correct&#34; aria-describedby=&#34;status_9e48935b04244c89b702677fbb0ed210_2_1&#34;&gt; Кузнечик
            &lt;/label&gt;
          &lt;/div&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;checkbox&#34; name=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1[]&#34; id=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_2&#34; class=&#34;field-input input-checkbox submitted&#34; value=&#34;choice_2&#34; checked=&#34;true&#34;/&gt;&lt;label id=&#34;9e48935b04244c89b702677fbb0ed210_2_1-choice_2-label&#34; for=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_2&#34; class=&#34;response-label field-label label-inline choicegroup_correct&#34; aria-describedby=&#34;status_9e48935b04244c89b702677fbb0ed210_2_1&#34;&gt; Стрибог
            &lt;/label&gt;
          &lt;/div&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;checkbox&#34; name=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1[]&#34; id=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_3&#34; class=&#34;field-input input-checkbox&#34; value=&#34;choice_3&#34;/&gt;&lt;label id=&#34;9e48935b04244c89b702677fbb0ed210_2_1-choice_3-label&#34; for=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_3&#34; class=&#34;response-label field-label label-inline&#34; aria-describedby=&#34;status_9e48935b04244c89b702677fbb0ed210_2_1&#34;&gt; DSS
            &lt;/label&gt;
          &lt;/div&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;checkbox&#34; name=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1[]&#34; id=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_4&#34; class=&#34;field-input input-checkbox&#34; value=&#34;choice_4&#34;/&gt;&lt;label id=&#34;9e48935b04244c89b702677fbb0ed210_2_1-choice_4-label&#34; for=&#34;input_9e48935b04244c89b702677fbb0ed210_2_1_choice_4&#34; class=&#34;response-label field-label label-inline&#34; aria-describedby=&#34;status_9e48935b04244c89b702677fbb0ed210_2_1&#34;&gt; RSA
            &lt;/label&gt;
          &lt;/div&gt;
        &lt;span id=&#34;answer_9e48935b04244c89b702677fbb0ed210_2_1&#34;/&gt;
    &lt;/fieldset&gt;
    &lt;div class=&#34;indicator-container&#34;&gt;
          

&lt;span class=&#34;status correct&#34; id=&#34;status_9e48935b04244c89b702677fbb0ed210_2_1&#34; data-tooltip=&#34;This answer is correct.&#34;&gt;
  &lt;span class=&#34;sr&#34;&gt;correct&lt;/span&gt;&lt;span class=&#34;status-icon&#34; aria-hidden=&#34;true&#34;/&gt;
&lt;/span&gt;

    &lt;/div&gt;
&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;
  &lt;div class=&#34;action&#34;&gt;
    &lt;input type=&#34;hidden&#34; name=&#34;problem_id&#34; value=&#34;Выберите криптографические алгоритмы, входящие в состав российских стандартов:&#34; /&gt;

    &lt;div class=&#34;problem-action-buttons-wrapper&#34;&gt;
    &lt;/div&gt;
    &lt;div class=&#34;submit-attempt-container&#34;&gt;
      &lt;button type=&#34;button&#34; class=&#34;submit btn-brand&#34; data-submitting=&#34;Submitting&#34; data-value=&#34;Submit&#34; data-should-enable-submit-button=&#34;False&#34; aria-describedby=&#34;submission_feedback_9e48935b04244c89b702677fbb0ed210&#34; disabled&gt;
          &lt;span class=&#34;submit-label&#34;&gt;Submit&lt;/span&gt;
      &lt;/button&gt;

      &lt;div class=&#34;submission-feedback &#34; id=&#34;submission_feedback_9e48935b04244c89b702677fbb0ed210&#34;&gt;
          You have used 1 of 2 attempts
        &lt;span class=&#34;sr&#34;&gt;Some problems have options such as save, reset, hints, or show answer. These options follow the Submit button.&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
    


&lt;div class=&#34;notification warning notification-gentle-alert
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-exclamation-circle&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;9e48935b04244c89b702677fbb0ed210-problem-title&#34;&gt;
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

    


&lt;div class=&#34;notification warning notification-save
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-save&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;9e48935b04244c89b702677fbb0ed210-problem-title&#34;&gt;None
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

    
    


&lt;div class=&#34;notification general notification-show-answer
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-info-circle&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;9e48935b04244c89b702677fbb0ed210-problem-title&#34;&gt;Answers are displayed within the problem
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;

&lt;script&gt;
    function emit_event(message) {
        parent.postMessage(message, &#39;*&#39;);
    }
&lt;/script&gt;
"
     data-graded="True">
    <p class="loading-spinner">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr">Loading&hellip;</span>
    </p>
</div>

</div>

    </div>
    <div class="vert vert-2" data-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d6da87ec049e40bbafe4d00ec973b2a3">
        
<div class="xblock xblock-student_view xblock-student_view-problem xmodule_display xmodule_ProblemBlock" data-course-id="course-v1:spbstu+DIGLIT+spring_2023" data-init="XBlockToXModuleShim" data-runtime-class="LmsRuntime" data-runtime-version="1" data-block-type="problem" data-usage-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d6da87ec049e40bbafe4d00ec973b2a3" data-request-token="69e058ea637e11eea48c6ee8bd98008a" data-graded="True" data-has-score="True">
  <script type="json/xblock-args" class="xblock-json-init-args">
    {"xmodule-type": "Problem"}
  </script>
  <div id="problem_d6da87ec049e40bbafe4d00ec973b2a3" class="problems-wrapper" role="group"
     aria-labelledby="d6da87ec049e40bbafe4d00ec973b2a3-problem-title"
     data-problem-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d6da87ec049e40bbafe4d00ec973b2a3" data-url="/courses/course-v1:spbstu+DIGLIT+spring_2023/xblock/block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d6da87ec049e40bbafe4d00ec973b2a3/handler/xmodule_handler"
     data-problem-score="2.0"
     data-problem-total-possible="2.0"
     data-attempts-used="1"
     data-content="



&lt;h3 class=&#34;hd hd-3 problem-header&#34; id=&#34;d6da87ec049e40bbafe4d00ec973b2a3-problem-title&#34; aria-describedby=&#34;block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d6da87ec049e40bbafe4d00ec973b2a3-problem-progress&#34; tabindex=&#34;-1&#34;&gt;
  Какую функцию не обеспечивают криптографические методы защиты?
&lt;/h3&gt;

&lt;div class=&#34;problem-progress&#34; id=&#34;block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d6da87ec049e40bbafe4d00ec973b2a3-problem-progress&#34;&gt;&lt;/div&gt;

&lt;div class=&#34;problem&#34;&gt;
  &lt;div&gt;
&lt;div class=&#34;wrapper-problem-response&#34; tabindex=&#34;-1&#34; aria-label=&#34;Question 1&#34; role=&#34;group&#34;&gt;&lt;div class=&#34;choicegroup capa_inputtype&#34; id=&#34;inputtype_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34;&gt;
    &lt;fieldset aria-describedby=&#34;status_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34;&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;radio&#34; name=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34; id=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1_choice_0&#34; class=&#34;field-input input-radio&#34; value=&#34;choice_0&#34;/&gt;&lt;label id=&#34;d6da87ec049e40bbafe4d00ec973b2a3_2_1-choice_0-label&#34; for=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1_choice_0&#34; class=&#34;response-label field-label label-inline&#34; aria-describedby=&#34;status_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34;&gt; Конфиденциальность
            &lt;/label&gt;
          &lt;/div&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;radio&#34; name=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34; id=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1_choice_1&#34; class=&#34;field-input input-radio&#34; value=&#34;choice_1&#34;/&gt;&lt;label id=&#34;d6da87ec049e40bbafe4d00ec973b2a3_2_1-choice_1-label&#34; for=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1_choice_1&#34; class=&#34;response-label field-label label-inline&#34; aria-describedby=&#34;status_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34;&gt; Аутентификация данных
            &lt;/label&gt;
          &lt;/div&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;radio&#34; name=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34; id=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1_choice_2&#34; class=&#34;field-input input-radio&#34; value=&#34;choice_2&#34;/&gt;&lt;label id=&#34;d6da87ec049e40bbafe4d00ec973b2a3_2_1-choice_2-label&#34; for=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1_choice_2&#34; class=&#34;response-label field-label label-inline&#34; aria-describedby=&#34;status_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34;&gt; Целостность данных
            &lt;/label&gt;
          &lt;/div&gt;
          
          &lt;div class=&#34;field&#34;&gt;
            &lt;input type=&#34;radio&#34; name=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34; id=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1_choice_3&#34; class=&#34;field-input input-radio submitted&#34; value=&#34;choice_3&#34; checked=&#34;true&#34;/&gt;&lt;label id=&#34;d6da87ec049e40bbafe4d00ec973b2a3_2_1-choice_3-label&#34; for=&#34;input_d6da87ec049e40bbafe4d00ec973b2a3_2_1_choice_3&#34; class=&#34;response-label field-label label-inline choicegroup_correct&#34; aria-describedby=&#34;status_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34;&gt; Аудит
            &lt;/label&gt;
          &lt;/div&gt;
        &lt;span id=&#34;answer_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34;/&gt;
    &lt;/fieldset&gt;
    &lt;div class=&#34;indicator-container&#34;&gt;
          

&lt;span class=&#34;status correct&#34; id=&#34;status_d6da87ec049e40bbafe4d00ec973b2a3_2_1&#34; data-tooltip=&#34;This answer is correct.&#34;&gt;
  &lt;span class=&#34;sr&#34;&gt;correct&lt;/span&gt;&lt;span class=&#34;status-icon&#34; aria-hidden=&#34;true&#34;/&gt;
&lt;/span&gt;

    &lt;/div&gt;
&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;
  &lt;div class=&#34;action&#34;&gt;
    &lt;input type=&#34;hidden&#34; name=&#34;problem_id&#34; value=&#34;Какую функцию не обеспечивают криптографические методы защиты?&#34; /&gt;

    &lt;div class=&#34;problem-action-buttons-wrapper&#34;&gt;
    &lt;/div&gt;
    &lt;div class=&#34;submit-attempt-container&#34;&gt;
      &lt;button type=&#34;button&#34; class=&#34;submit btn-brand&#34; data-submitting=&#34;Submitting&#34; data-value=&#34;Submit&#34; data-should-enable-submit-button=&#34;False&#34; aria-describedby=&#34;submission_feedback_d6da87ec049e40bbafe4d00ec973b2a3&#34; disabled&gt;
          &lt;span class=&#34;submit-label&#34;&gt;Submit&lt;/span&gt;
      &lt;/button&gt;

      &lt;div class=&#34;submission-feedback &#34; id=&#34;submission_feedback_d6da87ec049e40bbafe4d00ec973b2a3&#34;&gt;
          You have used 1 of 2 attempts
        &lt;span class=&#34;sr&#34;&gt;Some problems have options such as save, reset, hints, or show answer. These options follow the Submit button.&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
    


&lt;div class=&#34;notification warning notification-gentle-alert
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-exclamation-circle&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;d6da87ec049e40bbafe4d00ec973b2a3-problem-title&#34;&gt;
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

    


&lt;div class=&#34;notification warning notification-save
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-save&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;d6da87ec049e40bbafe4d00ec973b2a3-problem-title&#34;&gt;None
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

    
    


&lt;div class=&#34;notification general notification-show-answer
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-info-circle&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;d6da87ec049e40bbafe4d00ec973b2a3-problem-title&#34;&gt;Answers are displayed within the problem
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;

&lt;script&gt;
    function emit_event(message) {
        parent.postMessage(message, &#39;*&#39;);
    }
&lt;/script&gt;
"
     data-graded="True">
    <p class="loading-spinner">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr">Loading&hellip;</span>
    </p>
</div>

</div>

    </div>
    <div class="vert vert-3" data-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d627fce1998d4b93a88606d4d55976d2">
        
<div class="xblock xblock-student_view xblock-student_view-problem xmodule_display xmodule_ProblemBlock" data-course-id="course-v1:spbstu+DIGLIT+spring_2023" data-init="XBlockToXModuleShim" data-runtime-class="LmsRuntime" data-runtime-version="1" data-block-type="problem" data-usage-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d627fce1998d4b93a88606d4d55976d2" data-request-token="69e058ea637e11eea48c6ee8bd98008a" data-graded="True" data-has-score="True">
  <script type="json/xblock-args" class="xblock-json-init-args">
    {"xmodule-type": "Problem"}
  </script>
  <div id="problem_d627fce1998d4b93a88606d4d55976d2" class="problems-wrapper" role="group"
     aria-labelledby="d627fce1998d4b93a88606d4d55976d2-problem-title"
     data-problem-id="block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d627fce1998d4b93a88606d4d55976d2" data-url="/courses/course-v1:spbstu+DIGLIT+spring_2023/xblock/block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d627fce1998d4b93a88606d4d55976d2/handler/xmodule_handler"
     data-problem-score="2.0"
     data-problem-total-possible="2.0"
     data-attempts-used="1"
     data-content="



&lt;h3 class=&#34;hd hd-3 problem-header&#34; id=&#34;d627fce1998d4b93a88606d4d55976d2-problem-title&#34; aria-describedby=&#34;block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d627fce1998d4b93a88606d4d55976d2-problem-progress&#34; tabindex=&#34;-1&#34;&gt;
  С помощью шифра Цезаря дешифровать сообщение: ПХНФЧУЗХЕЩНД (исходный алфавит: АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ)
&lt;/h3&gt;

&lt;div class=&#34;problem-progress&#34; id=&#34;block-v1:spbstu+DIGLIT+spring_2023+type@problem+block@d627fce1998d4b93a88606d4d55976d2-problem-progress&#34;&gt;&lt;/div&gt;

&lt;div class=&#34;problem&#34;&gt;
  &lt;div&gt;
&lt;div class=&#34;wrapper-problem-response&#34; tabindex=&#34;-1&#34; aria-label=&#34;Question 1&#34; role=&#34;group&#34;&gt;&lt;div id=&#34;inputtype_d627fce1998d4b93a88606d4d55976d2_2_1&#34; class=&#34; capa_inputtype  textline&#34;&gt;

    &lt;div class=&#34;correct &#34;&gt;



&lt;input type=&#34;text&#34; name=&#34;input_d627fce1998d4b93a88606d4d55976d2_2_1&#34; id=&#34;input_d627fce1998d4b93a88606d4d55976d2_2_1&#34; aria-describedby=&#34;status_d627fce1998d4b93a88606d4d55976d2_2_1&#34; value=&#34;КРИПТОГРАФИЯ&#34; autocomplete=&#34;off&#34; size=&#34;20&#34;/&gt;
&lt;span class=&#34;trailing_text&#34; id=&#34;trailing_text_d627fce1998d4b93a88606d4d55976d2_2_1&#34;/&gt;



&lt;span class=&#34;status correct&#34; id=&#34;status_d627fce1998d4b93a88606d4d55976d2_2_1&#34; data-tooltip=&#34;This answer is correct.&#34;&gt;
  &lt;span class=&#34;sr&#34;&gt;correct&lt;/span&gt;&lt;span class=&#34;status-icon&#34; aria-hidden=&#34;true&#34;/&gt;
&lt;/span&gt;


&lt;p id=&#34;answer_d627fce1998d4b93a88606d4d55976d2_2_1&#34; class=&#34;answer&#34;/&gt;


    &lt;/div&gt;


&lt;/div&gt;&lt;/div&gt;
&lt;/div&gt;
  &lt;div class=&#34;action&#34;&gt;
    &lt;input type=&#34;hidden&#34; name=&#34;problem_id&#34; value=&#34;С помощью шифра Цезаря дешифровать сообщение: ПХНФЧУЗХЕЩНД (исходный алфавит: АБВГДЕЁЖЗИЙКЛМНОПРСТУФХЦЧШЩЪЫЬЭЮЯ)&#34; /&gt;

    &lt;div class=&#34;problem-action-buttons-wrapper&#34;&gt;
    &lt;/div&gt;
    &lt;div class=&#34;submit-attempt-container&#34;&gt;
      &lt;button type=&#34;button&#34; class=&#34;submit btn-brand&#34; data-submitting=&#34;Submitting&#34; data-value=&#34;Submit&#34; data-should-enable-submit-button=&#34;False&#34; aria-describedby=&#34;submission_feedback_d627fce1998d4b93a88606d4d55976d2&#34; disabled&gt;
          &lt;span class=&#34;submit-label&#34;&gt;Submit&lt;/span&gt;
      &lt;/button&gt;

      &lt;div class=&#34;submission-feedback &#34; id=&#34;submission_feedback_d627fce1998d4b93a88606d4d55976d2&#34;&gt;
          You have used 1 of 2 attempts
        &lt;span class=&#34;sr&#34;&gt;Some problems have options such as save, reset, hints, or show answer. These options follow the Submit button.&lt;/span&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
    


&lt;div class=&#34;notification warning notification-gentle-alert
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-exclamation-circle&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;d627fce1998d4b93a88606d4d55976d2-problem-title&#34;&gt;
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

    


&lt;div class=&#34;notification warning notification-save
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-save&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;d627fce1998d4b93a88606d4d55976d2-problem-title&#34;&gt;None
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

    
    


&lt;div class=&#34;notification general notification-show-answer
      is-hidden&#34;
     tabindex=&#34;-1&#34;&gt;
    &lt;span class=&#34;icon fa fa-info-circle&#34; aria-hidden=&#34;true&#34;&gt;&lt;/span&gt;
    &lt;span class=&#34;notification-message&#34; aria-describedby=&#34;d627fce1998d4b93a88606d4d55976d2-problem-title&#34;&gt;Answers are displayed within the problem
    &lt;/span&gt;
    &lt;div class=&#34;notification-btn-wrapper&#34;&gt;
        &lt;button type=&#34;button&#34; class=&#34;btn btn-default btn-small notification-btn review-btn sr&#34;&gt;Review&lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;

&lt;/div&gt;

&lt;script&gt;
    function emit_event(message) {
        parent.postMessage(message, &#39;*&#39;);
    }
&lt;/script&gt;
"
     data-graded="True">
    <p class="loading-spinner">
        <i class="fa fa-spinner fa-pulse fa-2x fa-fw"></i>
        <span class="sr">Loading&hellip;</span>
    </p>
</div>

</div>

    </div>
</div>


  
  <script type="text/javascript">
    (function (require) {
        require(['https://cdn2.openedu.ru/static/js/dateutil_factory.a28baef97506.js?raw'], function () {
          require(['js/dateutil_factory'], function (DateUtilFactory) {
            
    DateUtilFactory.transform('.localized-datetime');

          });
        });
    }).call(this, require || RequireJS.require);
  </script>


<script>
    function emit_event(message) {
        parent.postMessage(message, '*');
    }
</script>

</div>

      </main>
  </section>
</div>

<script type="text/javascript">
  (function() {
    // If this view is rendered in an iframe within the learning microfrontend app
    // it will report the height of its contents to the parent window when the
    // document loads, window resizes, or DOM mutates.
    if (window !== window.parent) {
      document.body.className += ' view-in-mfe';
      var lastHeight = window.offsetHeight;
      var lastWidth = window.offsetWidth;
      var contentElement = document.getElementById('content');

      function dispatchResizeMessage(event) {
        // Note: event is actually an Array of MutationRecord objects
        // when fired from the MutationObserver
        var eventType = event.type || 'mutate';
        var newHeight = contentElement.offsetHeight;
        var newWidth = contentElement.offsetWidth;
        if (eventType !== 'load' && newWidth === lastWidth && newHeight === lastHeight) {
            // Monitor when any anchor tag is clicked, it is checked to make sure
            // it is referencing an element's id or name (not an external website). If
            // the href attribute is an id or name, the location of the selected focus
            // element is sent through its offset attribute. The offset will
            // allow the page to scroll to the location of the focus element so
            // that it is at the top of the page. Unique ids and names are
            // required for proper scrolling.
            $('a').on("click", function(event){
              if ($(this).attr('href')[0] === "#") {
                var targetId = $(this).attr('href');
                var targetName = $(this).attr('href').slice(1);
                // Checks if the target uses an id or name to focus and gets offset.
                var targetOffset = $(targetId).offset() || $(document.getElementsByName(targetName)[0]).offset();
                if (targetOffset) {
                  event.preventDefault();
                  window.parent.postMessage({"offset": targetOffset.top}, document.referrer);
                }
              }
            })
          return;
        }
        // Monitor for messages and checks if the message contains an id. If
        // there is an id, then the location of the selected focus element
        // is sent through its offset attribute. The offset will allow the
        // page to scroll to the location of the focus element so that it is
        // at the top of the page. Unique ids and names are required for
        // proper scrolling.
        window.addEventListener('message', function (event) {
          if (event.data.hashName) {
            var targetId = event.data.hashName;
            var targetName = event.data.hashName.slice(1);
            // Checks if the target uses an id or name to focus and gets offset.
            var targetOffset = $(targetId).offset() || $(document.getElementsByName(targetName)[0]).offset();
            window.parent.postMessage({ 'offset': targetOffset.top }, document.referrer);
          }
        })

        window.parent.postMessage({
            type: 'plugin.resize',
            payload: {
              width: newWidth,
              height: newHeight,
            }
          }, document.referrer
        );

        lastHeight = newHeight;
        lastWidth = newWidth;

        // Within the learning microfrontend the iframe resizes to match the
        // height of this document and it should never scroll. It does scroll
        // ocassionally when javascript is used to focus elements on the page
        // before the parent iframe has been resized to match the content
        // height. This window.scrollTo is an attempt to keep the content at the
        // top of the page. See TNL-7094
        window.scrollTo(0, 0);
      }

      // Create an observer instance linked to the callback function
      const observer = new MutationObserver(dispatchResizeMessage);

      // Start observing the target node for configured mutations
      observer.observe(document.body, { attributes: true, childList: true, subtree: true });

      window.addEventListener('load', dispatchResizeMessage);
      window.addEventListener('resize', dispatchResizeMessage);
    }
  }());
</script>

      
    </div>



  
  
  <script type="text/javascript" src="https://cdn2.openedu.ru/static/common/js/vendor/jquery.scrollTo.525edcc52fe8.js" async></script>
  <script type="text/javascript" src="https://cdn2.openedu.ru/static/js/vendor/flot/jquery.flot.d3d45ff0c6a8.js" async></script>

  
    
<script type="text/javascript" src="https://cdn2.openedu.ru/static/js/lms-courseware.9517dcd2081d.js" charset="utf-8"></script>



    




<script type="text/javascript">
    // Fast Preview was introduced in 2.5. However, it
    // causes undesirable flashing/font size changes when
    // MathJax is used for interactive preview (equation editor).
    // Setting processSectionDelay to 0 (see below) fully eliminates
    // fast preview, but to reduce confusion, we are also setting
    // the option as displayed in the context menu to false.
    // When upgrading to 2.6, check if this variable name changed.
    window.MathJax = {
      menuSettings: {CHTMLpreview: false}
    };
</script>

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: "none",
    tex2jax: {
      inlineMath: [
        ["\\(","\\)"],
        ['[mathjaxinline]','[/mathjaxinline]']
      ],
      displayMath: [
        ["\\[","\\]"],
        ['[mathjax]','[/mathjax]']
      ]
    }
  });
</script>
<script type="text/x-mathjax-config">

  // In order to eliminate all flashing during interactive
  // preview, it is necessary to set processSectionDelay to 0
  // (remove delay between input and output phases). This
  // effectively disables fast preview, regardless of
  // the fast preview setting as shown in the context menu.
  MathJax.Hub.processSectionDelay = 0;

  MathJax.Hub.signal.Interest(function(message) {
    if(message[0] === "End Math") {
        set_mathjax_display_div_settings();
    }
  });
  function set_mathjax_display_div_settings() {
    $('.MathJax_Display').each(function( index ) {
      this.setAttribute('tabindex', '0');
      this.setAttribute('aria-live', 'off');
      this.removeAttribute('role');
      this.removeAttribute('aria-readonly');
    });
  }
</script>

<script type="text/javascript">
    // Activating Mathjax accessibility files
    window.MathJax = {
        menuSettings: {
            collapsible: true,
            autocollapse: false,
            explorer: true
        }
    };
</script>

<!-- This must appear after all mathjax-config blocks, so it is after the imports from the other templates.
     It can't be run through static.url because MathJax uses crazy url introspection to do lazy loading of
     MathJax extension libraries -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2.7.5/MathJax.js?config=TeX-MML-AM_SVG"></script>


<script src='https://cdn2.openedu.ru/static/bundles/HtmlBlockPreview.47dfb3a011d61e073bb9.68644e9f6662.js' type='application/javascript'></script>
<script src='https://cdn2.openedu.ru/static/bundles/XModuleShim.b0a0bcfa4bfc116299b0.0021dbb8621f.js' type='application/javascript'></script>
<script src='https://cdn2.openedu.ru/static/bundles/ProblemBlockPreview.3c293987029be310b69a.40765775f6c6.js' type='application/javascript'></script>
<script src='https://cdn2.openedu.ru/static/bundles/VerticalStudentView.218999454019487e3bbe.50411955078b.js' type='application/javascript'></script>



  



  <script type="text/javascript" src="https://cdn2.openedu.ru/static/js/vendor/noreferrer.aa62a3e70ffa.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdn2.openedu.ru/static/js/utils/navigation.08930e16ab3d.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://cdn2.openedu.ru/static/js/header/header.309a1243e175.js"></script>
  
  <script type="text/javascript" src="https://cdn2.openedu.ru/static/js/src/jquery_extend_patch.54dddef28d15.js"></script>
  <div id="lean_overlay"></div>

</body>
</html>


